.footerSpace {
  position: relative;
  height: 50px;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #ddd;
  height: 50px;
  width: 100%;
}
