.container {
  width: 100%;
  min-height: 100vh;
}

.container div {
  margin: 10px auto;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  width: 300px;
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
}

.product p::selection {
  background-color: #8a2be2;
  color: #fff;
}

.product button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #5ba0d2;
  border: none;
  border-radius: 4px;
}

.product img {
  margin: auto;
}

.product img::selection {
  background-color: transparent;
}
