.container {
  width: 100vw;
  min-height: 100vh;
}

.container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.product p::selection {
  background-color: #8a2be2;
  color: #fff;
}

.product img {
  display: flex;
}

.product img::selection {
  background-color: transparent;
}
